
__pycache__/problem.cpython-310.pyc
__pycache__/problem.cpython-312.pyc
__pycache__/problem.cpython-38.pyc
__pycache__/problem.cpython-39.pyc
brain_anatomy_schizophrenia_UCL_2024.zip
/data
/Lit
/submissions
.DS_Store
environment.yml
